*{
    font-family: 'Roboto', sans-serif;
}
.title{
    font-weight:bold;
}

.capitalize{
    text-transform: capitalize;

}
.item-image{
    position: relative;

}

.item-image:hover .item-image-footer{
    display:block;
}
.item-image-footer{
    position:absolute;
    height:30px;
    width:100%;
    background-color: white;
    bottom: 0;
    opacity: 0.6;
    display: none;

}

.item-content{
position: relative;
}

.item-content-footer{
position:absolute;
height:20px;
width:100%;
bottom: 25px;
padding: 10px;
border-top: 1px solid #e3e3e3;
}

.item{
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
    margin-bottom: 15px;
}
.padding{
    padding: 10px;
}

.no-padding{
    padding: 0!important;
    
}


.description{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-wrap: break-word;
    /* display: inline-block; */
}

.nav-link{
    color:black !important;
    font-weight: bold; 
}

.footer-images{
    color: white;
    background-image: url(https://www.themoviedb.org/assets/2/v4/footers_v2/Jaws-0738d22d1f7eb26437e4f410d42ce2239b34688ad972da1155989e0a9de121ac.jpg);
}

.TopContributors{
margin: 0;
}
.imageTop{
    border-radius: 20px;
}
.pmargin{
    margin: -20px 10px 0px 55px;
}
.item-keyword a{
    font-size: 12px;
}

.backgroundfirst{
background-repeat: no-repeat;
color: white;
}
.background{
    background-image: radial-gradient(circle at 20% 50%, rgba(19.61%, 7.84%, 7.84%, 0.98) 0%, rgba(27.45%, 13.73%, 13.73%, 0.88) 100%);
    font-size: 120%;
    text-transform: capitalize;
}

li{
margin: 0px 30px;
}

.images_Actor{
    width:300px;
    height: 450px;
}

.background_Actor{
    background-color: pink;
}

.margin_actor{
    margin:0px 0px 0px 10px;
}
.align{
    text-align: center;
}
.bold{
    font-weight: bold;;
}
.size{
    font-size: 30px;
}

.pagination a{
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
}

.pagination a.active {
    background-color: dodgerblue;
    color: white;
    
  }